extends template.pug

block content
    h1.ui.header Sneknet Admin Console
    .ui.divider
    h3.ui.top.attached.header Stats
    .ui.attached.segment
        .ui.statistics
            .statistic
                .label Total Users
                .value #{stats.users}
            .statistic
                .label Total Upvotes
                .value 0
            .statistic
                .label Connected clients
                .value #{stats.wsClients}
            .statistic
                .label Snek Scenes Active
                .value #{stats.scenes}
            .statistic
                .label Active Chapter
                .value #{stats.chapter}
            .statistic
                .label Scene Count
                .value #{Object.keys(scenes).length}
    .ui.segment
        h3.ui.header Chapter Info
        table.ui.celled.table
            thead
                th.one.wide Scene
                th Top Post
                th Status
            tbody
                each scene, i in scenes
                    tr
                        td #{i}
                        td
                            a.ui.button.blue(href=scene.gif_url) GIF Link
                            a.ui.button.blue(href="http://reddit.com/by_id/" + scene.link) Post
                        td
                            if scene.lock_time < Date.now()
                                .ui.red.label Locked
                            else if scene.lock_time - Date.now() < 600000
                                .ui.orange.label Locking soon
